@media screen and (max-width: 600px) {
	div.header{
		height: 1.75ch;
	}
	div.body{
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
		width: 95%;
		padding-left:5%;
		margin-left: 0;
		margin-right:0;
		min-height: 75%;
	}
	div.footer{
		position: relative;
	}
	div.footbutton {
		visibility: hidden;
		clear: both;
		float: left;
		margin: 10px auto 5px 20px;
		width: 28%;
		display: none;
	}
}
@media not all and (max-width: 600px){
	div.body{
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
		width: 75%;
		padding: 2.5%;
		margin-left: 10%;
		margin-right:10%;
		min-height: 65%;
	}
	div.footer{
  		position: absolute;
	}
}

html {
	height: 100%;
	/*box-sizing: border-box;*/
}
body{
	/*position: relative;*/
	margin: 0px;/*
	margin-left: 10%;
	margin-right: 10%;*/
	font-family: Arial;
	background: repeating-linear-gradient(
		45deg,
		white,
		white 10px,
		#f1f1f1 10px,
		#f1f1f1 15px
	);
}

div.header{
	display: inline-block;

	font-weight: bold;
	font-size: 3.5ch;
	color: ghostwhite;
	text-align: center;
	background-color: #636363;

	width: 50%;
	padding: 1rem;
	padding-left:25%;
	padding-right:25%;
	margin-bottom:30px;
}

div.text_para{
	/*rgin: TT RR BB LL*/
	margin: 10 18 10 18;
}
div.text_para>*{
	font-size: 1.2em;
}


div.body{
	background: white;
}
div.body>h1:first-child{
	margin-top:5px;
}

div.footer{
	/*position: absolute;*/
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}
div.footer>a{
	text-decoration: none;
	color: black;
	padding-right: 25px;
}

.footbutton{
	display: inline-block;
}
img.footbutton{
	height:2rem;
	vertical-align: middle;
}
div.footbutton{
	font-weight: bold;
	vertical-align: middle;
}