body{
	margin:0px;
}

div.header{
	display: inline-block;

	font-family: Arial;
	font-weight: bold;
	font-size: 3.5ch;
	color: ghostwhite;
	text-align: center;
	background-color: #636363;

	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	padding: 1rem;
}
div.text_para{
	/*rgin: TT RR BB LL*/
	margin: 10 18 10 18;
}

div.footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}